ClinicSoapWebServiceClient/src/main/resources/ProviderWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs548.stevens.edu/clinic/service/web/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs548.stevens.edu/clinic/service/web/soap" name="ProviderWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/web/soap" schemaLocation="http://ec2-52-91-245-118.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/dto" schemaLocation="http://ec2-52-91-245-118.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="provideraddTreatment">
<part name="parameters" element="tns:provideraddTreatment"/>
</message>
<message name="provideraddTreatmentResponse">
<part name="parameters" element="tns:provideraddTreatmentResponse"/>
</message>
<message name="ProviderServiceExn">
<part name="fault" element="tns:ProviderServiceExn"/>
</message>
<message name="getProviderbyNPI">
<part name="parameters" element="tns:getProviderbyNPI"/>
</message>
<message name="getProviderbyNPIResponse">
<part name="parameters" element="tns:getProviderbyNPIResponse"/>
</message>
<message name="siteInfo">
<part name="parameters" element="tns:siteInfo"/>
</message>
<message name="siteInfoResponse">
<part name="parameters" element="tns:siteInfoResponse"/>
</message>
<message name="addProvider">
<part name="parameters" element="tns:addProvider"/>
</message>
<message name="addProviderResponse">
<part name="parameters" element="tns:addProviderResponse"/>
</message>
<message name="getProvider">
<part name="parameters" element="tns:getProvider"/>
</message>
<message name="getProviderResponse">
<part name="parameters" element="tns:getProviderResponse"/>
</message>
<portType name="IProviderWebPort">
<operation name="provideraddTreatment">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/provideraddTreatmentRequest" message="tns:provideraddTreatment"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/provideraddTreatmentResponse" message="tns:provideraddTreatmentResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/provideraddTreatment/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProviderbyNPI">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/getProviderbyNPIRequest" message="tns:getProviderbyNPI"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/getProviderbyNPIResponse" message="tns:getProviderbyNPIResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/getProviderbyNPI/Fault/ProviderServiceExn"/>
</operation>
<operation name="siteInfo">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/siteInfoRequest" message="tns:siteInfo"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/siteInfoResponse" message="tns:siteInfoResponse"/>
</operation>
<operation name="addProvider">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/addProviderRequest" message="tns:addProvider"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/addProviderResponse" message="tns:addProviderResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/addProvider/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProvider">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/getProviderRequest" message="tns:getProvider"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/getProviderResponse" message="tns:getProviderResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/IProviderWebPort/getProvider/Fault/ProviderServiceExn"/>
</operation>
</portType>
<binding name="ProviderWebPortBinding" type="tns:IProviderWebPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="provideraddTreatment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProviderbyNPI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="siteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProviderWebService">
<port name="ProviderWebPort" binding="tns:ProviderWebPortBinding">
<soap:address location="http://ec2-52-91-245-118.compute-1.amazonaws.com:8080/clinic-soap/ProviderWebService"/>
</port>
</service>
</definitions>